// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element & reset font size to ~10px
 */
 html {
  box-sizing: border-box;
  font-size: $base-font-size;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  font-family: $text-font--primary;
  font-size: 1.6rem; // ~16px
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: ltr;
}

/**
 * Basic styles for links
 */
a {
  color: $link-color;
  text-decoration: none;
  font: inherit;

  @include on-event {
    color: inherit;
    text-decoration: underline;
  }
}
