// -----------------------------------------------------------------------------
// Color declarations
// (naming convention @ http://chir.ag/projects/name-that-color):
// -----------------------------------------------------------------------------

// - brand colors priority:

//- brand primary:

//- brand secondary:

// - other colors:
$black: #000000 !default;
$alizarin-crimson: #e2231a !default;

// -----------------------------------------------------------------------------
// Color scopes:
// -----------------------------------------------------------------------------

$text-color: $black !default;
$link-color: $alizarin-crimson !default;
