// -----------------------------------------------------------------------------
// This file contains your variable declarations
// (Tip: This file is loaded after _colors.scss, you can use color variables)
// -----------------------------------------------------------------------------

$base-font-size: 62.5%;

$text-font--primary: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue',
  'Helvetica', 'Arial', sans-serif !default;

$text-font--code: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono',
  'Monaco', monospace !default;

$breakpoints: (
    'small': 20em,
    'medium': 48em,
    'large': 64em,
    'xlarge': 85em
  )
  !default;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '~@/assets/' !default;
